---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import IntroBlocks from "../components/IntroBlocks.astro";
import DanceStyle from "../components/DanceStyle.astro";
import AboutFounder from "../components/AboutFounder.astro";
import FAQ from "../components/FAQ.astro";
import RegisterInterest from "../components/RegisterInterest.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout
	title="Anandha Natyasthala"
	description="Bharatanatyam dance school website"
>
	<Header />
	<main>
		<div class="page-wrap">
			<Hero />
			<IntroBlocks />
			<DanceStyle />
		</div>

		<AboutFounder />

		<div class="page-wrap">
			<FAQ />
			<RegisterInterest />
			<ContactSection />
		</div>
	</main>
	<Footer />
</BaseLayout>
